<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beneficiarios</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->      
         <div class="container-fluid content-inner">

        <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Gestión Beneficiarios</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length" id="dataTable_length">
                                                    </div>
                                                      <div>
                                                        <a href="formularioBeneficiario"><button type="submit" class="btn btn-danger position-absolute top-0 end-0 me-5">Agregar beneficiario +</button></a>
                                                    </div>
                                                    </div>
                                                    <div class="col-sm-16 col-md-8"><div id="dataTable_filter" class="dataTables_filter">
                                                        <label>Buscar:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        <div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row"><th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 156.25px;">IDbeneficiario</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 104.297px;">Documento</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 257.578px;">Nombre</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 48.1719px;">Teléfono</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 48.1719px;">Correo Electronico</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 93.0156px;">Acciones</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 93.0156px;">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd">
                                            <td class="sorting_1">001</td>
                                            <td>1007510458</td>
                                            <td>Alexander Ospina</td>
                                            <td>3135497455</td>
                                            <td>alexander@gmail.com</td>
                                            <td style="text-align: center;">
                                            <div class="centered-container">
                                            <i class="fa-regular fa-pen-to-square fa-xl me-2" data-bs-toggle="modal" data-bs-target="#editarbeneficiarioModal"></i>

                                            <div class="wrap-toggle" style="margin-top:10px;">
                                            <input type="checkbox" id="toggle" class="offscreen" />
                                            <label for="toggle3" class="switch"></label>
                                            </div></td>
                                            <td>ACTIVO</td>
                                        </tr><tr class="even">
                                            <td class="sorting_1">002</td>
                                            <td>1007632589</td>
                                            <td>Johany Prado</td>
                                            <td>3135465245</td>
                                            <td>johany@gmail.com</td>
                                            <td style="text-align: center;">
                                            <div class="centered-container">
                                           <i class="fa-regular fa-pen-to-square fa-xl me-2" data-bs-toggle="modal" data-bs-target="#editarbeneficiarioModal"></i>
                                           
                                            <div class="wrap-toggle" style="margin-top:10px;">
                                            <input type="checkbox" id="toggle3" class="offscreen" />
                                            <label for="toggle3" class="switch"></label>
                                            </div></td>
                                            <td>ACTIVO</td>
                                        </tr><tr class="odd">
                                            <td class="sorting_1">003</td>
                                            <td>1010652356</td>
                                            <td>Pedro Restrepo</td>
                                            <td>3128659475</td>
                                            <td>pedro@gmail.com</td>
                                            <td style="text-align: center;">
                                            <div class="centered-container">
                                            <i class="fa-regular fa-pen-to-square fa-xl me-2" data-bs-toggle="modal" data-bs-target="#editarbeneficiarioModal"></i>
                                            
                                            <div class="wrap-toggle" style="margin-top:10px;">
                                            <input type="checkbox" id="toggle3" class="offscreen" />
                                            <label for="toggle3" class="switch"></label>
                                            </div></td>
                                            <td>ACTIVO</td>
                                        </tr><tr class="even">
                                            <td class="sorting_1">004</td>
                                            <td>1032659845</td>
                                            <td>Alejandro Mazor</td>
                                            <td>3145689523</td>
                                            <td>alejandro@gmail.com</td>
                                            <td style="text-align: center;">
                                            <div class="centered-container">
                                            <i class="fa-regular fa-pen-to-square fa-xl me-2" data-bs-toggle="modal" data-bs-target="#editarbeneficiarioModal"></i>
                                         
                                            <div class="wrap-toggle" style="margin-top:10px;">
                                            <input type="checkbox" id="toggle3" class="offscreen" />
                                            <label for="toggle3" class="switch"></label>
                                            </div></td>
                                            <td>ACTIVO</td>
                                        </tr>
                                        </tbody>
                                </table>
                                </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-30 col-md-40">
                                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                                                        <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                                        </li>
                                                        <li class="paginate_button page-item active">
                                                            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                                            </li>
                                                            <li class="paginate_button page-item ">
                                                                <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                                                </li>
                                                                <li class="paginate_button page-item ">
                                                                    <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                                                    </li>
                                                                    <li class="paginate_button page-item next" id="dataTable_next">
                                                                        <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">Next</a>
                                                                        </li>
                                                                        </ul>
                                                                        </div>
                                                                        </div>
                                                                        </div>
                                                                        </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="editarbeneficiarioModal" tabindex="-1" aria-labelledby="editarbeneficiarioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="m-0 font-weight-bold text-primary">Editar beneficiario</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
                <form>
                    <!-- Campos del formulario -->
                    <label for="nombre">Documento:</label>
                    <input type="text" id="Documento" name="Documento" class="form-control">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="Nombre" name="Nombre" class="form-control">
                    <label for="nombre">Teléfono:</label>
                    <input type="text" id="Telefono" name="Telefono" class="form-control">
                    <label for="nombre">Correo Electronico:</label>
                    <input type="text" id="Correo" name="Correo" class="form-control">

                    <br>

                    <button id="miBoton" type="submit" name="Guardar" class="btn btn-primary next action-button float-end" value="Next">Guardar</button>
                    <a href="beneficiarios"><button type="button" name="Cancelar" class="btn btn-dark previous action-button-previous float-end me-1" value="Previous">Cancelar</button></a>
                </form>
        </div>
            </div>
        </div>
    </div>
       </div>
        </div> 
</div>
            <!-- FIN DEL CONTENIDO -->
            <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    {{> footer}}
</body>
</html>