<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Servicios</title>

    
    <link rel="stylesheet" href="../assets/css/validacionesForms.css" />
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->  
    <form class="formularioRegistro" id="formularioRegistro"> 
      <div class="container-fluid content-inner">
         
         <div class="modal fade" id="formularioEventos" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
               <div class="modal-content" >
                  <div class="modal-header">
                     <h4>Agenda</h4>

                     <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>

                  </div>

               <div class="modal-body">
                  <div class="form-row">

                     <div class="form-group col-md-10">
                        <div class="form-group formularioRegistro__grupo" id="grupo__serviciosAgenda">
                           <div class="formularioRegistro__grupo-input" >
                        <label for="" class="formularioRegistro__label">Servicio:</label>            
                        <select class="" name="serviciosAgenda" id="serviciosAgenda">
                              <option value="">Seleccione la clase</option>
                              <option value="rumba">Rumba</option>
                              <option value="spinning">Spinning</option>
                              <option value="yoga">Yoga</option>
                              <option value="aerobicos">Aerobiocos</option>
                        </select>
                        <i class="formularioRegistro__validacion-estado fas fa-times-circle"  style="position: absolute; left: 100%; top: 70%; transform: translate(-50%, -50%); padding-left: 10px;"></i>
                        </div>
                        <p class="formularioRegistro__input-error">Seleccione una clase!</p> 
                        </div> 
                     </div> 

                     <div class="form-group col-md-10"> 
                        <label for="">Fecha Inicio:</label>
                        <div class="input-group" data-autoclose="true">
                           <input type="date" id="fechaInicio" class="form-control" value="" >
                        </div>
                     </div>

                      <div class="form-group col-md-10"> 
                        <label for="">Fecha Fin:</label>
                        <div class="input-group" data-autoclose="true">
                           <input type="date" id="fechaFin" class="form-control" value="" >
                        </div>
                     </div>

                     <div class="form-group col-md-10"> 
                        <div class="form-group formularioRegistro__grupo" id="grupo__horaInicio">
                           <div class="formularioRegistro__grupo-input" >
                        <label for="" class="formularioRegistro__label">Hora Inicio:</label>
                        <div class="input-group" data-autoclose="true">
                           <input type="text" name="horaInicio" id="horaInicio" class="form-control" autocomplete="off" >
                           <i class="formularioRegistro__validacion-estado fas fa-times-circle "></i>
                        </div>
                      </div>
                       <p class="formularioRegistro__input-error">Ingrese la hora correctamente!</p>
                      </div>
                     </div>

                     <div class="form-group col-md-10"> 
                        <div class="form-group formularioRegistro__grupo" id="grupo__horaFin">
                           <div class="formularioRegistro__grupo-input" >
                        <label for="" class="formularioRegistro__label">Hora Fin:</label>
                        <div class="input-group" data-autoclose="true">
                           <input type="text" name="horaFin" id="horaInicio" class="form-control" autocomplete="off" >
                           <i class="formularioRegistro__validacion-estado fas fa-times-circle "></i>
                        </div>
                      </div>
                       <p class="formularioRegistro__input-error mt-0">Ingrese la hora fin correctamente!</p>
                      </div>
                     </div>

                     <div class="form-group col-md-10">
                        <div class="form-group formularioRegistro__grupo" id="grupo__descripcionAgenda">
                           <div class="formularioRegistro__grupo-input" >
                        <label for="" class="formularioRegistro__label">Evento:</label>
                        <input class="form-control" name="descripcionAgenda" id="descripcionAgenda" rows="3">
                           <i class="formularioRegistro__validacion-estado fas fa-times-circle "></i>
                        </div>
                           <p class="formularioRegistro__input-error">Ingrese la descripción correctamente</p>
                        </div>
                     </div>

                     <div class="form-group col-md-10">
                        <div class="form-group formularioRegistro__grupo" id="grupo__nombreEmpleado">
                           <div class="formularioRegistro__grupo-input" >
                        <label for="" class="formularioRegistro__label">Empleado:</label>            
                        <select class="" name="nombreEmpleado" id="nombreEmpleado">
                              <option value="">Seleccione el empleado</option>
                              <option value="emple1">Juan Ortiz</option>
                              <option value="emple2">Weiki Weiki</option>
                              <option value="emple3">Alejandro</option>
                              <option value="emple4">Yonier</option>
                        </select>
                        <i class="formularioRegistro__validacion-estado fas fa-times-circle " style="position: absolute; left: 100%; top: 70%; transform: translate(-50%, -50%); padding-left: 10px;"></i>
                        </div>
                        <p class="formularioRegistro__input-error">Seleccione un empleado!</p> 
                        </div> 
                     </div> 

                        
                     </div>
                     <div class="row mt-3">
                        <div class="col-md-12">
                              <button type="submit" class="btn btn-primary float-end me-2" id="guardarEvento">Guardar</button>
                              <button type="button" class="btn btn-dark float-end me-2" data-bs-dismiss="modal">Cancelar</button>
                              <button type="button" class="btn btn-sm btn-info float-end me-4" id="botonEditar">Editar</button>
                              <button type="button" class="btn btn-sm btn-danger float-end me-2" id="botonEliminar" >Eliminar</button>
                              <div class="wrap-toggle" style="margin-top:10px;">
                                                            <p class="h6">Estado</p>
                                                            <input type="checkbox" id="toggle1" class="offscreen" />
                                                            <label for="toggle1" class="switch"></label>
                                                            
                                                        </div>                      
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>


        <div id='calendar'></div>
      </div>

      </form>
    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    <script src="../assets/js/calendario.js"></script>
    <script src="../assets/js/validacionesCalendario.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
   {{> footer}}
</body>
</html>