<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria Productos</title>
    {{> header}}
    <link rel="stylesheet" href="../assets/css/Productos.css" />
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->
    <br>
    <div class="position-relative">
        <button type="button" class="btn btn-primary position-absolute top-0 end-0 me-5" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Agregar +</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <br>
         <br>
         <br>
         <br>
         <br>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                            <form action="" class="formularioCategoria" id="formularioCategoria" >
                                    <div class="col-md-6"class="formulario__grupo" id="grupo__Nombrecategoria" >
                                        <div class="form-group" id="grupo__Nombrecategoria">
                                            <label class="form-label" >Nombre Cateogoria Producto*</label>
                                            <div class="formulario__grupo-input">
                                            <input type="text" class="form-control " name="Nombrecategoria" placeholder="Nombre Producto" id="Nombrecategoria" />
                                            <i  class="formulario__validacion-estado fas fa-times-circle"></i>
                                            </div>
                                            <p class="formulario__input-error">ojo</p>
                                        </div>
                                    </div>  
                                    <div class="formulario__mensaje" id="formulario__mensaje">
                                        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                                    </div>
                                        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
                                    </div>

      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" >Cancelar</button>
        <button type="submit"  class="btn btn-primary next action-button float-end" >Agregar Categoria</button>
      </div>
      </form>
    </div>
  </div>
</div>
    </div>
    <br>
      <!-- modal editar -->

        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
         <br>
         <br>
         <br>
         <br>
         <br>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" class="formularioCategoria" id="formularioCategoria">
          <div class="mb-3" class="form-group" id="grupo__Categoria">
            <label for="recipient-name" class="col-form-label" class="form-label">Nombre categoria:</label>
            <div class="formulario__grupo-input">
            <input type="text" class="form-control" id="categoria" placeholder="Nombre categoria" id="categoria">
            <i  class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">ojo</p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" value="submith" id="btn-enviar1" class="btn btn-primary">Modificar categoria</button>
      </div>
      </form>
    </div>
  </div>
</div>
    </div>
    <br>





      <!-- modal editar fin -->

    <div class="container-fluid content-inner">
        <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header d-flex justify-content-between">
               <div class="header-title">
                  <h4 class="card-title">Categoria productos</h4>
               </div>
            </div>
            <div class="card-body p-0">
               <div class="table-responsive mt-4">
                  <table id="basic-table" class="table table-striped mb-0" role="grid">
                     <thead>
                        <tr>
                           <th>Nombre categoria producto </th>
                           <th>Acciones</th>
                           <th>Estado</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                                 <h6>Proteina</h6>
                           </td>
                           <td >
                              <div class="centered-container-catprod">
                                 <a data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo"><i class="fa-regular fa-pen-to-square fa-xl me-2" style="margin-bottom: 8px;" ></i></a>
                                 <div class="wrap-toggle">
                                       <input type="checkbox" id="toggle" class="offscreen" />
                                       <label for="toggle" class="switch"></label>
                                 </div>
                              </div>
                           </td>
                           <td>
                              Activo
                           </td>
                        </tr>
                        <tr>
                           <td>
                                 <h6>Gluta stack</h6>
                           </td>
                           <td>
                              <div class="centered-container-catprod">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2" style="margin-bottom: 8px;"></i>
                                 <div class="wrap-toggle">
                                       <input type="checkbox" id="toggle1" class="offscreen" />
                                       <label for="toggle1" class="switch"></label>
                                 </div>
                              </div>
                           </td>
                           <td>
                              Activo
                           </td>
                        </tr>
                        <tr>
                           <td>
                                 <h6>Gluta stack</h6>
                           </td>
                           <td>
                              <div class="centered-container-catprod">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2" style="margin-bottom: 8px;"></i>
                                 <div class="wrap-toggle">
                                       <input type="checkbox" id="toggle2" class="offscreen" />
                                       <label for="toggle2" class="switch"></label>
                                 </div>
                              </div>
                           </td>
                           <td>
                              Activo
                           </td>
                        </tr>
                        <tr>
                           <td>
                                 <h6>Gluta stack</h6>
                           </td>
                           <td>
                              <div class="centered-container-catprod">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2" style="margin-bottom: 8px;"></i>
                                 <div class="wrap-toggle">
                                       <input type="checkbox" id="toggle3" class="offscreen" />
                                       <label for="toggle3" class="switch"></label>
                                 </div>
                              </div>
                           </td>
                           <td>
                              Activo
                           </td>
                        </tr>
                        <tr>
                           <td>
                                 <h6>Gluta stack</h6>
                           </td>
                           <td>
                              <div class="centered-container-catprod">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2" style="margin-bottom: 8px;"></i>
                                 <div class="wrap-toggle">
                                       <input type="checkbox" id="toggle4" class="offscreen" />
                                       <label for="toggle4" class="switch"></label>
                                 </div>
                              </div>
                           </td>
                           <td>
                              Activo      
                           </td>
                        </tr>
                        <tr>
                           <td>
                                 <h6>Gluta stack</h6>
                           </td>
                           <td>
                              <div class="centered-container-catprod">
                                 <i class="fa-regular fa-pen-to-square fa-xl me-2" style="margin-bottom: 8px;"></i>
                                 <div class="wrap-toggle">
                                       <input type="checkbox" id="toggle5" class="offscreen" />
                                       <label for="toggle5" class="switch"></label>
                                 </div>
                                 </div>
                           </td>
                           <td>
                              Activo
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  
               </div>

               
            </div>
            
         </div>

      </div>

      <div style="padding-left: 80%;">
         <ul class="pagination" >
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
         </ul>
      </div>
   </div>
    </div>

    <!-- Fin contenido --> 

   <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
   <!-- Footer Section End -->
   <script src="../assets/js/cateogriaproductos.js"></script>
    {{> footer}}
</body>
</html>