<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->
    <br>
    <div class="position-relative">
      <a class="nav-link " href="../formcompras"><button type="submit" class="btn btn-danger position-absolute top-0 end-0 me-5">Agregar +</button></a>
    </div>
    <br>
    <div class="container-fluid content-inner">
        <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header d-flex justify-content-between">
               <div class="header-title">
                  <h4 class="card-title">Compras</h4>
               </div>
            </div>
            <div class="card-body p-0">
               <div class="table-responsive mt-4">
                  <table id="basic-table" class="table table-striped mb-0" role="grid">
                     <thead>
                        <tr>
                           <th>Id de la compra</th>
                           <th>Fecha de compra</th>
                           <th>Nombre(proveedor)</th>
                           <th>valor de la compra</th>
                           <th>Fecha Registro</th>
                           <th>Estado</th>
                           <th>Acciones</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                                 <h6>60405</h6>
                           </td>
                           <td>
                                 <h6>01/11/2023</h6>                    
                           </td>
                           <td><h6>Gluta stack</h6></td>
                           <td>
                              <h6>$20.500</h6>
                           </td>
                           <td>
                                 <h6>13/11/2023</h6>
                           </td>
                           <td>
                                 <h6>Anulado</h6>  
                           </td>
                           <td>
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/1617/1617543.png"/>     
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/80/80942.png"/>
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/709/709612.png"/>
                           </td>
                        </tr>
                        <tr>
                           <td>
                                 <h6>65646</h6>
                           </td>
                           <td>
                                 <h6>02/01/2023</h6>                    
                           </td>
                           <td><h6>nutra lageno</h6></td>
                           <td>
                              <h6>$30.000</h6>
                           </td>
                           <td>
                                 <h6>04/05/2023</h6>
                           </td>
                           <td>
                                 <h6>Registrado</h6>
                           </td>
                           <td>
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/1617/1617543.png"/>     
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/80/80942.png"/>
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/709/709612.png"/>
                           </td>
                        </tr>
                        <tr>
                           <td>
                                 <h6>54732</h6>
                           </td>
                           <td>
                                 <h6>21/09/2023</h6>                    
                           </td>
                           <td><h6>Gluta</h6></td>
                           <td>
                              <h6>$12.600</h6>
                           </td>
                           <td>
                                 <h6>02/10/2023</h6>
                           </td>
                           <td>
                                 <h6>Anulado</h6>
                           </td>
                           <td>
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/1617/1617543.png"/>     
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/80/80942.png"/>
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/709/709612.png"/>
                           </td>
                        </tr>
                        <tr>
                           <td>
                                 <h6>26587</h6>
                           </td>
                           <td>
                                 <h6>01/01/2023</h6>                    
                           </td>
                           <td><h6>nutra lageno</h6></td>
                           <td>
                              <h6>$42.000</h6>
                           </td>
                           <td>
                                 <h6>05/02/2023</h6>
                           </td>
                           <td>
                                 <h6>Registrado</h6>
                           </td>
                           <td>
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/1617/1617543.png"/>     
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/80/80942.png"/>
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/709/709612.png"/>
                           </td>
                        </tr>
                        <tr>
                           <td>
                                 <h6>13753</h6>
                           </td>
                           <td>
                                 <h6>07/09/2023</h6>                    
                           </td>
                           <td><h6>Smart Gainer</h6></td>
                           <td>
                              <h6>$48.000</h6>
                           </td>
                           <td>
                                 <h6>08/09/2023</h6>
                           </td>
                           <td>
                                 <h6>Registrado</h6>
                           </td>
                           <td>
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/1617/1617543.png"/>     
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/80/80942.png"/>
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/709/709612.png"/>
                           </td>
                        </tr>
                        <tr>
                           <td>
                                 <h6>33933</h6>
                           </td>
                           <td>
                                 <h6>10/10/2023</h6>                    
                           </td>
                           <td><h6>Smart Gainer</h6></td>
                           <td>
                              <h6>$19.000</h6>
                           </td>
                           <td>
                                 <h6>11/11/2023</h6>
                           </td>
                           <td>
                                 <h6>Registrado</h6>
                           </td>
                           <td>
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/1617/1617543.png"/>     
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/80/80942.png"/>
                                 <img width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/128/709/709612.png"/>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  
               </div>

               
            </div>
            
         </div>

      </div>

      <div style="padding-left: 80%;">
         <ul class="pagination" >
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
         </ul>
      </div>
   </div>
    </div>

    <!-- Fin contenido --> 

   <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
   <!-- Footer Section End -->

    {{> footer}}
</body>
</html>