<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Rol</title>
    {{> header}}
</head>

<body class="  ">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body">
            </div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

    {{> sidebar}}

    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->


    <!-- Inicio contenido -->
  <div class="container-fluid content-inner">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Agregar rol</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form id="FormularioRol">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Nombre Rol:</label>
                                    <input type="text" class="form-control" id="nombreRol" placeholder="Nombre Rol" required />
                                    <span class="error-message" id="nombre-error"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="estado">Estado</label>
                                    <select id="estado" class="form-control" required>
                                        <option value="1">Activo</option>
                                        <option value="0">Desactivado</option>
                                    </select>
                                    <span class="error-message" id="estado-error"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary next action-button float-end">Guardar</button>
                        <a href="../views/roles.hbs" class="btn btn-dark previous action-button-previous float-end me-1">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Fin contenido -->

    <script src="../assets/js/listar.roles.js"></script>

    <script src="../assets/js/formDevolucion.js"></script>

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    {{> footer}}
</body>

</html>