<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo proveedor</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->      
<div class="container-fluid content-inner">
            <div class="row">                
                <div class="col-sm-12 col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Agregar proveedor</h4>
                        </div>
                        </div>
                        <div class="card-body">
                            <!-- fieldsets -->
                                    <form>
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Nombre Proveedor</label>
                                            <input type="text" class="form-control" name="Nombre Proveedor" placeholder="Nombre Proveedor" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Contacto proveedor</label>
                                            <input type="text" class="form-control" name="contacto proveedor" placeholder="Contacto proveedor" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Telefono</label>
                                            <input type="text" class="form-control" name="Telefono" placeholder="Telefono" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Direccion</label>
                                            <input type="text" class="form-control" name="Direccion" placeholder="Direccion" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">NIT</label>
                                            <input type="text" class="form-control" name="contacto proveedor" placeholder="Contacto proveedor" />
                                        </div>
                                    </div>
                                </div>
                                <button type="button" name="Guardar" class="btn btn-primary next action-button float-end" value="Next" >Guardar</button>
                                <a href="../Proveedores"><button type="button" name="Cancelar" class="btn btn-dark previous action-button-previous float-end me-1" value="Previous" >Cancelar</button></a>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->
    <script src="../assets/js/form.js"></script>
    {{> footer}}
</body>
</html>