<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Beneficiario</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->      
       <div class="container-fluid content-inner">
         <div class="row">                
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Agregar beneficiario</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="Formulariobeneficiario">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Nombre completo:</label>
                                        <input type="text" class="form-control" name="Nombrebeneficiario" placeholder="Nombre completo" oninput="validateNombre(this)" />
                                        <span class="error-message" id="nombre-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tipoDocumento">Tipo de documento</label>
                                        <select id="tipoDocumento" name="tipoDocumento">
                                            <option value="CedulaCiudadania">Cédula de Ciudadanía</option>
                                            <option value="CedulaExtranjeria">Cédula de Extranjería</option>
                                            <option value="TarjetaIdentidad">Tarjeta de Identidad</option>
                                        </select>
                                        <span class="error-message" id="tipoDocumento-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Número de documento:</label>
                                        <input type="text" class="form-control" name="Documentobeneficiario" placeholder="Número de documento" oninput="validateDocumento(this)" />
                                        <span class="error-message" id="Documentobeneficiario-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Correo electrónico:</label>
                                        <input type="text" class="form-control" name="correobeneficiario" placeholder="Correo electrónico" oninput="validateCorreo(this)" />
                                        <span class="error-message" id="correo-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Dirección:</label>
                                        <input type="text" class="form-control" name="direccionbeneficiario" placeholder="Dirección" oninput="validateDireccion(this)" />
                                        <span class="" id="direccion-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Contacto:</label>
                                        <input type="text" class="form-control" name="contactobeneficiario" placeholder="Contacto" oninput="validateContacto(this)" />
                                        <span class="error-message" id="contacto-error"></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" name="Guardar" class="btn btn-primary next action-button float-end" value="Next">Guardar</button>
                            <button type="button" name="Cancelar" class="btn btn-dark previous action-button-previous float-end me-1" value="Previous">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

     <script src="../assets/js/FormBeneficiario.js"></script>

    {{> footer}}
</body>
</html>