<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Devolución de Venta</title>
    {{> header}}
</head>
<body onload="">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body">
            </div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->
    {{> sidebar}}
    <!-- Fin Barra lateral -->

    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->

    <!-- Inicio contenido -->
<div class="container-fluid content-inner">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Agregar Devolución</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form id="formDevolucion">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="idVenta">Venta *</label>
                                    <select class="form-select" id="idVenta" name="idVenta" required onchange="cargarProductosDeVenta()">
                                        <option selected="" disabled="">Selecciona la Venta</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Motivo*</label>
                                    <input type="text" class="form-control" name="motivo" id="motivo" required />
                                    <div id="errorMotivo" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Fecha Devolución*</label>
                                    <input type="date" class="form-control" name="fechaDevolucion" id="fechaDevolucion" required />
                                    <div id="errorFechaDevolucion" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Valor Devolución*</label>
                                    <input type="number" class="form-control" name="valorDevolucionVenta" id="valorDevolucionVenta" required readonly />
                                    <div id="errorValorDevolucionVenta" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="selectProductoDevolucion" class="form-label">Selecciona un producto:</label>
                                <div id="productosDeVentaContainer">
                                    <!-- Productos de la venta cargados dinámicamente -->
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" onclick="enviarDevolucion()" class="btn btn-primary mt-3">Guardar</button>
                            <button type="button" class="btn btn-dark mt-3 ms-2" onclick="location.href='/GestionDevoluciones'">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Fin contenido -->

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->
    <script src="../assets/js/devolucionVentas/formDevolucionVenta.js"></script>
    <script src="../assets/js/form.js"></script>
    <script src="../assets/js/"></script>

    {{> footer}}
</body>
</html>
