<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Devolución Venta</title>
    {{> header}}
</head>
<body onload="precargarDatosVentaEnFormulario();precargarDatosProductosVentaEnFormulario()">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->
    {{> sidebar}}
    <!-- Fin Barra lateral -->

    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->

 <div class="container-fluid content-inner">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Agregar Devolución Venta</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="formDevolucionesVenta">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Fecha Venta*</label>
                                        <input disabled type="date" id="Fecha_venta" class="form-control" name="Fecha_venta"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="exampleFormControlSelect1">Número Recibo de Venta</label>
                                        <input disabled type="text" id="NumeroReciboVenta" class="form-control" name="NumeroReciboVenta"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="form-label">Motivo de la Devolución</label>
                                            <input type="text" id="MDevolucion" class="form-control" name="MDevolucion"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="form-label">Valor de la Devolución</label>
                                            <input disabled type="text" id="ValorDev"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div id="productosAgregados" style="margin-left: 350px;"></div>
                            <button type="button" class="btn btn-primary next action-button float-end" onclick="enviarDevVenta()">Realizar devolución</button>
                            <button type="button" class="btn btn-dark previous action-button-previous float-end me-1" value="Previous">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin contenido -->

    <!-- Fin contenido -->

    <script src="../assets/js/devolucionVentas/devolucion.ventas.js"></script>

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    {{> footer}}
</body>

</html>