<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Usuarios</title>
    {{> header}}
    <link rel="stylesheet" href="../assets/css/Productos.css" />
</head>
<body class="  ">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->
    {{> sidebar}}
    <!-- Fin Barra lateral -->

    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->

    <!-- Inicio contenido -->
   <div class="container-fluid content-inner">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Agregar usuario</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="formularioUsuarios">
                            <div class="row">
                                <!-- Nombre -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Nombre*</label>
                                        <input type="text" class="form-control" name="Nombres" placeholder="Nombre" required />
                                        <span class="error-message" id="nombre-error"></span>
                                    </div>
                                </div>

                                <!-- Apellidos -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Apellidos*</label>
                                        <input type="text" class="form-control" name="Apellidos" placeholder="Apellidos" required />
                                        <span class="error-message" id="apellidos-error"></span>
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">E-mail*</label>
                                        <input type="email" class="form-control" name="Correo" placeholder="E-mail" required />
                                        <span class="error-message" id="email-error"></span>
                                    </div>
                                </div>

                                <!-- Telefono -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Teléfono*</label>
                                        <input type="text" class="form-control" name="Telefono" placeholder="Teléfono" required />
                                        <span class="error-message" id="telefono-error"></span>
                                    </div>
                                </div>

                                <!-- Tipo de Documento -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Tipo de Documento*</label>
                                        <select class="form-select" name="TipoDocumento" required>
                                            <option value="" disabled selected hidden>Seleccionar Documento</option>
                                            <option value="Cedula">Cédula</option>
                                            <option value="Pasaporte">Pasaporte</option>
                                        </select>
                                        <span class="error-message" id="tipoDocumento-error"></span>
                                    </div>
                                </div>

                                <!-- Documento -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Documento*</label>
                                        <input type="text" class="form-control" name="Documento" placeholder="Documento" required />
                                        <span class="error-message" id="cedula-error"></span>
                                    </div>
                                </div>

                                <!-- Fecha de Nacimiento -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Fecha de Nacimiento*</label>
                                        <input type="date" class="form-control" name="FechaDeNacimiento" required />
                                        <span class="error-message" id="fechaDeNacimiento-error"></span>
                                    </div>
                                </div>

                                <!-- Dirección -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Dirección*</label>
                                        <input type="text" class="form-control" name="Direccion" placeholder="Dirección" required />
                                        <span class="error-message" id="direccion-error"></span>
                                    </div>
                                </div>

                                <!-- Género -->
                                <!-- Género -->
<div class="col-md-6">
    <div class="form-group">
        <label class="form-label">Género*</label>
        <select class="form-select" name="Genero" required>
            <option value="" disabled selected hidden>Seleccionar Género</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>
        </select>
        <span class="error-message" id="genero-error"></span>
    </div>
</div>


                                <!-- Rol -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Rol*</label>
                                        <select class="form-select" name="Rol" required>
                                            <option value="" disabled selected hidden>Seleccionar Rol</option>
                                            <option value="Administrador">Administrador</option>
                                            <option value="Entrenador">Entrenador</option>
                                            <option value="Cliente">Cliente</option>
                                        </select>
                                        <span class="error-message" id="rol-error"></span>
                                    </div>
                                </div>
                                <!-- Rol -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Rol*</label>
                                        <select class="form-select" name="Rol" required>
                                            <option value="" disabled selected hidden>Seleccionar Rol</option>
                                            <option value="Administrador">Administrador</option>
                                            <option value="Entrenador">Entrenador</option>
                                            <option value="Cliente">Cliente</option>
                                        </select>
                                        <span class="error-message" id="rol-error"></span>
                                    </div>
                                </div>

                                <!-- Estado -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Estado*</label>
                                        <select class="form-select" name="Estado" required>
                                            <option value="" disabled selected hidden>Seleccionar Estado</option>
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                        <span class="error-message" id="estado-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
    <div class="form-group">
        <label class="form-label">Beneficiario*</label>
        <input type="text" class="form-control" name="Beneficiario" placeholder="Beneficiario" required />
        <span class="error-message" id="beneficiario-error"></span>
    </div>
</div>
                                <!-- Contraseña -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Contraseña*</label>
                                        <input type="password" class="form-control" name="Contrasena" placeholder="Contraseña" required />
                                        <span class="error-message" id="contrasena-error"></span>
                                    </div>
                                </div>

                                <!-- Confirmar Contraseña -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Confirmar Contraseña*</label>
                                        <input type="password" class="form-control" name="confirmarContrasena" placeholder="Confirmar Contraseña" required />
                                        <span class="error-message" id="confirmarContrasena-error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-12 text-end">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                    <a href="usuariosAdmin" class="btn btn-dark ms-2">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Fin contenido -->
     <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>¡Usuario guardado exitosamente!</p>
        </div>
    </div>

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->
    <script src="../assets/js/postUsuarios.js"></script>
        <script src="../assets/js/UsuarosValidaciones.js"></script>

    <script>
        // Toggle Password Visibility
        const togglePassword = document.getElementById('togglePassword');
        const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
        const password = document.getElementById('contraseña');
        const confirmPassword = document.getElementById('confirmarContraseña');

        togglePassword.addEventListener('click', () => {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            togglePassword.classList.toggle('fa-eye-slash');
        });

        toggleConfirmPassword.addEventListener('click', () => {
            const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPassword.setAttribute('type', type);
            toggleConfirmPassword.classList.toggle('fa-eye-slash');
        });
    </script>
    {{> footer}}
</body>
</html>
