<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Ventas</title>
    {{> header}}
    <style>
    .custom-font-size {
        font-size: 20px; /* Ajusta el tamaño de la fuente según tus necesidades */
        margin-top: 500px;
        text-align: left;
    }
</style>

</head>

<body class="  ">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body">
            </div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

    {{> sidebar}}

    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->


    <!-- Inicio contenido -->
    <div class="container-fluid content-inner">
        <div class="container-fluid">
                <h3 class="m-0 font-weight-bold text-primary custom-font-size ">Gestión Ventas</h3>
            <div class="card shadow mb-4">
                 <div class="header-title">
                    </div>
                       <div class="card-header py-3 d-flex justify-content-between">
                        <div class="d-flex">
                            <div class="search-container">
                                <label for="searchInput" class="visually-hidden">Buscar:</label>
                                <input type="search" id="searchInput" class="form-control form-control-sm"
                                    placeholder="Buscar" aria-controls="dataTable">
                            </div>
                        </div>
                        <div class="footer-buttons mt-1">
                            <!-- Agregado margen top (mt-3) para separar los botones de la tabla -->
                            <a href="formuVenta" type="button" name="Cancelar"
                                class="btn btn-dark btn-sm previous action-button-previous float-end me-2"
                                value="Previous">
                                Crear Venta
                            </a>
                            <button type="submit" name="Guardar"
                                class="btn btn-primary btn-sm next action-button float-end" value="Next">
                                Informes
                            </button>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                            role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Name: activate to sort column descending" style="width: 156.25px;">
                                        Num. Factura</th>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Name: activate to sort column descending" style="width: 156.25px;">
                                        Nombre</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Position: activate to sort column ascending"
                                        style="width: 257.578px;">Fecha</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Start date: activate to sort column ascending"
                                        style="width: 104.297px;">Pago total</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Salary: activate to sort column ascending"
                                        style="width: 93.0156px;">Estado</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Salary: activate to sort column ascending"
                                        style="width: 93.0156px;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd">
                                    <td class="sorting_1">222</td>
                                    <td>Johany Ocampo</td>
                                    <td>24/04/2022</td>
                                    <td>90.000</td>
                                    <td>ACTIVO</td>
                                    <td style="text-align: center;">
                                        <div class="centered-container">
                                            <i class="fa-regular fa-eye fa-xl me-2"></i>
                                            <i class="fa-regular fa-newspaper fa-xl me-2" ></i>
                                            <div class="wrap-toggle" style="margin-top:10px;">
                                                <input type="checkbox" id="toggle1" class="offscreen" />
                                                <label for="toggle1" class="switch"></label>
                                            </div>
                                            </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="sorting_2">333</td>
                                    <td>Yonier Lopez</td>
                                    <td>12/05/2021</td>
                                    <td>190.000</td>
                                    <td>ACTIVO</td>
                                      <td style="text-align: center;">
                                        <div class="centered-container">
                                            <i class="fa-regular fa-eye fa-xl me-2"></i>
                                            <i class="fa-regular fa-newspaper fa-xl me-2" ></i>
                                            <div class="wrap-toggle" style="margin-top:10px;">
                                                <input type="checkbox" id="toggle2" class="offscreen" />
                                                <label for="toggle2" class="switch"></label>
                                            </div>
                                            </div>
                                    </td>
                                </tr>
                                <tr class="odd">
                                    <td class="sorting_3">444</td>
                                    <td>Sebastian Rendon</td>
                                    <td>22/06/2022</td>
                                    <td>50.000</td>
                                    <td>ACTIVO</td>
                                    <td style="text-align: center;">
                                        <div class="centered-container">
                                            <i class="fa-regular fa-eye fa-xl me-2"></i>
                                            <i class="fa-regular fa-newspaper fa-xl me-2" ></i>
                                            <div class="wrap-toggle" style="margin-top:10px;">
                                                <input type="checkbox" id="toggle3" class="offscreen" />
                                                <label for="toggle3" class="switch"></label>
                                            </div>
                                            </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td class="sorting_4">555</td>
                                    <td>Sofia Ramirez</td>
                                    <td>24/04/2022</td>
                                    <td>85.000</td>
                                    <td>ACTIVO</td>
                                    <td style="text-align: center;">
                                        <div class="centered-container">
                                            <i class="fa-regular fa-eye fa-xl me-2"></i>
                                            <i class="fa-regular fa-newspaper fa-xl me-2" ></i>
                                            <div class="wrap-toggle" style="margin-top:10px;">
                                                <input type="checkbox" id="toggle3" class="offscreen" />
                                                <label for="toggle3" class="switch"></label>
                                            </div>
                                            </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination justify-content-end">
                                <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                                    <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0"
                                        class="page-link">Previous</a>
                                </li>
                                <li class="paginate_button page-item active">
                                    <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0"
                                        class="page-link">1</a>
                                </li>
                                <li class="paginate_button page-item ">
                                    <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0"
                                        class="page-link">2</a>
                                </li>
                                <li class="paginate_button page-item ">
                                    <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0"
                                        class="page-link">3</a>
                                </li>
                                <li class="paginate_button page-item next" id="dataTable_next">
                                    <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0"
                                        class="page-link">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    </div>

    </div>
    </div>
    <!-- FIN DEL CONTENIDO -->
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
    <!-- Fin contenido -->

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    {{> footer}}
</body>

</html>