<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    {{> header}}
</head>
<body onload="precargarDatosProductosEnFormulario()">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->      
<div class="container-fluid content-inner">
            <div class="row">                
                <div class="col-sm-12 col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Editar Producto</h4>
                        </div>
                        </div>
                        <div class="card-body">
                            <!-- fieldsets -->
                                    <form>
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Nombre Producto</label>
                                            <input type="text" class="form-control" name="Nombre Proveedor" placeholder="Nombre Producto" id="Nombreproducto" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <form id="Productos">
                                        <div class="form-group">
                                            <label class="form-label">Precio Producto</label>
                                            <input type="text" class="form-control" name="contacto proveedor" placeholder="Precio Producto" id="Precioproducto" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Iva producto</label>
                                            <input type="text" class="form-control" name="Telefono" placeholder="iva producto" id="ivaproducto" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="exampleFormControlSelect1">Categoria del producto*</label>
                                            <select class="form-select" id="categoria" name="dia">
                                            <option selected="" disabled="">Selecciona La Categoria del producto</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Imagen</label>
                                            <input type="text" class="form-control" name="Telefono" placeholder="Imagen" id="Imagen"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Estado</label>
                                            <select id="Estadoedit" class="form-control" name="estadoProveedor">
                                                <option value="1">Activo</option>
                                                <option value="0">Inactivo</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <button type="button" onclick="editarProductos()" name="next" class="btn btn-primary next action-button float-end" value="Next" >Guardar</button>
                                <a href="../productos"><button type="button" name="previous" class="btn btn-dark previous action-button-previous float-end me-1" value="Previous" >Cancelar</button></a>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->
    <script src="../assets/js/productos.js"></script>
    {{> footer}}
</body>
</html>