<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
    {{> header}}
    
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->      
    <div class="container-fluid content-inner">
        <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        
                    </div>
                </div>
            </div>            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card  ">
                                <div class="card-body">
                                    <div id="calendar1" class="calendar-s"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->
        
    {{> footer}}

        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.9/fullcalendar.min.js'></script>
        <!-- FullCalendar Locales -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.9/locale/es.min.js'></script>

        <script src="../../assets/js/eventos/calendarioEventos.js"></script>
        <script src='../../assets/vendor/fullcalendar/core/main.js'></script>
        <script src='../../assets/vendor/fullcalendar/daygrid/main.js'></script>
        <script src='../../assets/vendor/fullcalendar/timegrid/main.js'></script>
        <script src='../../assets/vendor/fullcalendar/list/main.js'></script>
        <script src='../../assets/vendor/fullcalendar/interaction/main.js'></script>
        <script src='../../assets/vendor/moment.min.js'></script>
        <script src='../../assets/js/plugins/calender.js'></script>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
</body>
</html>