<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gym System | Regístrate</title>
  
  {{> header}}

  <link rel="stylesheet" href="../../assets/css/sign-up.css">
  <link rel="stylesheet" href="../../assets/css/validacionesForms.css">
  <!-- Bootstrap CSS (puedes incluirlo si no está ya cargado) -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="" data-bs-spy="scroll" data-bs-target="#elements-section" data-bs-offset="0" tabindex="0">
  <!-- loader Start -->
  <div id="loading">
    <div class="loader simple-loader">
      <div class="loader-body">
      </div>
    </div>
  </div>
  <!-- loader END -->

  <div class="wrapper">
    <section class="login-content">
      <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title text-center mb-4">Regístrate</h2>
                <p class="card-text text-center">Crea tu cuenta en Gym System</p>
                <form class="formularioRegistro" id="formularioRegistro">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="Nombres">Nombres *</label>
                      <input type="text" class="form-control" id="Nombres" name="Nombres">
                      <small class="text-danger d-none">Los nombres no pueden contener números o caracteres especiales.</small>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="Apellidos">Apellidos *</label>
                      <input type="text" class="form-control" id="Apellidos" name="Apellidos">
                      <small class="text-danger d-none">Los apellidos no pueden contener números o caracteres especiales.</small>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="TipoDocumento">Tipo de documento:</label>
                      <select class="form-control" id="TipoDocumento" name="TipoDocumento">
                        <option value="" disabled selected hidden>Seleccione...</option>
                        <option value="Cedula">Cédula de Ciudadanía</option>
                        <option value="Pasaporte">Pasaporte</option>
                      </select>
                      <small class="text-danger d-none">Seleccione el tipo de documento.</small>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="Documento"># Documento *</label>
                      <input type="text" class="form-control" id="Documento" name="Documento">
                      <small class="text-danger d-none">Ingrese un documento válido.</small>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="Correo">Correo Electrónico *</label>
                      <input type="email" class="form-control" id="Correo" name="Correo">
                      <small class="text-danger d-none">El correo no es válido.</small>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="Telefono">Teléfono *</label>
                      <input type="text" class="form-control" id="Telefono" name="Telefono">
                      <small class="text-danger d-none">El número no es válido.</small>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="FechaDeNacimiento">Fecha de Nacimiento *</label>
                      <input type="date" class="form-control" id="FechaDeNacimiento" name="FechaDeNacimiento">
                      <small class="text-danger d-none">Ingrese una fecha válida.</small>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="Direccion">Dirección *</label>
                      <input type="text" class="form-control" id="Direccion" name="Direccion" placeholder="Ej: Cra 19 # 52-102">
                      <small class="text-danger d-none">Ingrese una dirección válida.</small>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="Genero">Género:</label>
                      <select class="form-control" id="Genero" name="Genero">
                        <option value="" disabled selected hidden>Seleccione...</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                      </select>
                      <small class="text-danger d-none">Seleccione el género.</small>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="Contrasena">Contraseña *</label>
                      <input type="password" class="form-control" id="Contrasena" name="Contrasena">
                      <small class="text-danger d-none">
                        La contraseña debe contener:
                        <br>- Mínimo un número,
                        <br>- Una letra mayúscula,
                        <br>- Máximo 12 caracteres.
                      </small>
                    </div>
                    <div class="form-group col-md-6" id="grupo__confirmarPassword">
                        <label for="confirmarPassword">Confirmar Contraseña *</label>
                        <input type="password" class="form-control" id="confirmarPassword" name="confirmarPassword">
                        <small class="text-danger d-none">La contraseña no coincide.</small>
                     </div>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="terminos" name="terminos">
                    <label class="form-check-label" for="terminos">Acepto las condiciones de uso</label>
                    <small class="text-danger d-none">Debe aceptar las condiciones de uso para continuar.</small>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                  </div>
                  <p class="mt-3 text-center">
                    ¿Ya tiene una cuenta? <a href="ingresar">Inicie sesión</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Validaciones form registro -->

  {{> footer}}
  <script src="../../assets/js/authRegistro.js"></script>
  <script src="../../assets/js/sign-up.js"></script>
  <!-- Bootstrap JS (si no está ya cargado) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>
</html>
