<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Beneficiario y Valoración Médica</title>
    {{> header}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/validacionesFormsBeneficiario.css" />
</head>
<body onload="inicializarBusquedaBeneficiario()">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->
    {{> sidebar}}
    <!-- Fin Barra lateral -->

    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->

    <!-- Inicio contenido -->
    <div class="container-fluid content-inner">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                        <div class="card-header py-6">
                            <h3 class="m-0 font-weight-bold text-primary">Agregar Beneficiario y Valoración Médica</h3>
                        </div>
                    <div class="card-body">
                        <form class="formularioRegistro" id="formularioRegistro">
                            <div id="accordion">
                                <!-- Datos del Beneficiario -->
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Datos del Beneficiario
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <!-- Documento -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__documento">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="documento" class="formularioRegistro__label">Documento *</label>
                                                            <input type="text" class="form-control" name="documento" id="documento" aria-describedby="documentoHelp" placeholder="Ingrese Documento" required/>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Ingresa un documento válido</p>
                                                        <div><small id="documentoHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Tipo de Documento -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__tipoDocumento">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="tipoDocumento" class="formularioRegistro__label">Tipo de Documento *</label>
                                                            <select class="form-control" name="tipoDocumento" id="tipoDocumento" aria-describedby="tipoDocumentoHelp" required>
                                                                <option value="">Seleccione Tipo de Documento</option>
                                                                <option value="cedula_ciudadania">Cédula de Ciudadanía</option>
                                                                <option value="cedula_extranjeria">Cédula de Extranjería</option>
                                                                <option value="tarjeta_identidad">Tarjeta de Identidad</option>
                                                            </select>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Ingresa un tipo de documento válido</p>
                                                        <div><small id="tipoDocumentoHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Nombres -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__nombres">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="nombres" class="formularioRegistro__label">Nombres *</label>
                                                            <input type="text" class="form-control" name="nombres" id="nombres" aria-describedby="nombresHelp" placeholder="Ingrese Nombres" required/>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Los nombres no pueden contener números o caracteres especiales</p>
                                                        <div><small id="nombresHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Apellidos -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__apellidos">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="apellidos" class="formularioRegistro__label">Apellidos *</label>
                                                            <input type="text" class="form-control" name="apellidos" id="apellidos" aria-describedby="apellidosHelp" placeholder="Ingrese Apellidos" required/>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Los apellidos no pueden contener números o caracteres especiales</p>
                                                        <div><small id="apellidosHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Correo Electrónico -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__correo">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="correo" class="formularioRegistro__label">Correo Electrónico *</label>
                                                            <input type="email" class="form-control" name="correo" id="correo" aria-describedby="correoHelp" placeholder="Ingrese Correo Electrónico" required/>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">El correo no es válido</p>
                                                        <div><small id="correoHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Teléfono -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__telefono">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="telefono" class="formularioRegistro__label">Teléfono *</label>
                                                            <input type="text" class="form-control" name="telefono" id="telefono" aria-describedby="telefonoHelp" placeholder="Ingrese Teléfono" required/>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">El número no es válido</p>
                                                        <div><small id="telefonoHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Fecha de Nacimiento -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__fechaDeNacimiento">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="fechaDeNacimiento" class="formularioRegistro__label">Fecha de Nacimiento *</label>
                                                            <input type="date" class="form-control" name="fechaDeNacimiento" id="fechaDeNacimiento" aria-describedby="fechaDeNacimientoHelp" placeholder="Ingrese Fecha de Nacimiento" required/>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Ingresa una fecha de nacimiento válida</p>
                                                        <div><small id="fechaDeNacimientoHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Dirección -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__direccion">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="direccion" class="formularioRegistro__label">Dirección *</label>
                                                            <input type="text" class="form-control" name="direccion" id="direccion" aria-describedby="direccionHelp" placeholder="Ingrese Dirección" required/>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Ingresa una dirección válida</p>
                                                        <div><small id="direccionHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Género -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__genero">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="genero" class="formularioRegistro__label">Género *</label>
                                                            <select class="form-control" name="genero" id="genero" aria-describedby="generoHelp" required>
                                                                <option value="">Seleccione Género</option>
                                                                <option value="masculino">Masculino</option>
                                                                <option value="femenino">Femenino</option>
                                                                <option value="otro">Otro</option>
                                                            </select>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Ingresa un género válido</p>
                                                        <div><small id="generoHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Contraseña -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__contrasena">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="contrasena" class="formularioRegistro__label">Contraseña *</label>
                                                            <div class="input-group">
                                                                <input type="password" class="form-control" name="contrasena" id="contrasena" aria-describedby="contrasenaHelp" placeholder="Ingrese una contraseña" required/>
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary" type="button" id="togglePassword"><span class="fa-regular fa-eye fa-xl me-2"></span></button>
                                                                </div>
                                                            </div>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">La contraseña debe contener:<br>- Mínimo un número,<br>- Una letra mayúscula,<br>- Máximo 12 caracteres.</p>
                                                        <div><small id="contrasenaHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Confirmar Contraseña -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__confirmarContrasena">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="confirmarContrasena" class="formularioRegistro__label">Confirmar Contraseña *</label>
                                                            <div class="input-group">
                                                                <input type="password" class="form-control" name="confirmarContrasena" id="confirmarContrasena" aria-describedby="confirmarContrasenaHelp" placeholder="Confirme Contraseña" required/>
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword"><span class="fa-regular fa-eye fa-xl me-2"></span></button>
                                                                </div>
                                                            </div>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">La contraseña no coincide</p>
                                                        <div><small id="confirmarContrasenaHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Estado -->
                                                <div class="col-md-6">
                                                    <div class="form-group formularioRegistro__grupo formularioRegistro__grupo-estado" id="grupo__estado">
                                                        <label for="estado">Estado *</label>
                                                        <input type="hidden" name="estado" id="estado" value="0">
                                                        <input type="text" class="form-control" value="Activo" disabled>
                                                        <small id="estadoHelp" class="form-text text-muted"><br></small>
                                                    </div>
                                                </div>
                                                <!-- Beneficiario -->
                                                <div class="col-md-6">
                                                    <div class="form-group formularioEditar__grupo formularioEditar__grupo-beneficiario" id="grupo__beneficiario">
                                                        <label for="buscarBeneficiario">Buscar Beneficiario por Documento *</label>
                                                        <input type="text" class="form-control" name="buscarBeneficiario" id="buscarBeneficiario" placeholder="Ingrese Documento del Beneficiario" required/>
                                                        <input type="hidden" name="beneficiario" id="beneficiario">
                                                        <div id="resultadosBusqueda" class="list-group mt-2"></div>
                                                        <small id="beneficiarioHelp" class="form-text text-muted"><br></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Datos de la Valoración Médica -->
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Datos de la Valoración Médica
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <!-- Tiene Condición Crónica -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__TieneCondicionCronica">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="TieneCondicionCronica" class="formularioRegistro__label">¿Tiene Condición Crónica? *</label>
                                                            <select class="form-control" name="TieneCondicionCronica" id="TieneCondicionCronica" aria-describedby="TieneCondicionCronicaHelp" required>
                                                                <option value="">Seleccione una opción</option>
                                                                <option value="si">Sí</option>
                                                                <option value="no">No</option>
                                                            </select>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Seleccione una opción válida</p>
                                                        <div><small id="TieneCondicionCronicaHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Cirugía Previa -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__CirugiaPrevia">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="CirugiaPrevia" class="formularioRegistro__label">¿Cirugía Previa? *</label>
                                                            <select class="form-control" name="CirugiaPrevia" id="CirugiaPrevia" aria-describedby="CirugiaPreviaHelp" required>
                                                                <option value="">Seleccione una opción</option>
                                                                <option value="si">Sí</option>
                                                                <option value="no">No</option>
                                                            </select>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Seleccione una opción válida</p>
                                                        <div><small id="CirugiaPreviaHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Alergias Conocidas -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__AlergiasConocidas">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="AlergiasConocidas" class="formularioRegistro__label">Alergias Conocidas *</label>
                                                            <input type="text" class="form-control" name="AlergiasConocidas" id="AlergiasConocidas" aria-describedby="AlergiasConocidasHelp" placeholder="Ingrese Alergias Conocidas" required/>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Ingrese alergias conocidas válidas</p>
                                                        <div><small id="AlergiasConocidasHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Medicamentos Actuales -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__MedicamentosActuales">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="MedicamentosActuales" class="formularioRegistro__label">Medicamentos Actuales *</label>
                                                            <input type="text" class="form-control" name="MedicamentosActuales" id="MedicamentosActuales" aria-describedby="MedicamentosActualesHelp" placeholder="Ingrese Medicamentos Actuales" required/>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Ingrese medicamentos actuales válidos</p>
                                                        <div><small id="MedicamentosActualesHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Lesiones Musculoesqueléticas -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__LesionesMusculoesqueleticas">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="LesionesMusculoesqueleticas" class="formularioRegistro__label">Lesiones Musculoesqueléticas *</label>
                                                            <select class="form-control" name="LesionesMusculoesqueleticas" id="LesionesMusculoesqueleticas" aria-describedby="LesionesMusculoesqueleticasHelp" required>
                                                                <option value="">Seleccione una opción</option>
                                                                <option value="si">Sí</option>
                                                                <option value="no">No</option>
                                                            </select>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Seleccione una opción válida</p>
                                                        <div><small id="LesionesMusculoesqueleticasHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Enfermedad Cardíaca o Vascular -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__EnfermedadCardiacaVascular">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="EnfermedadCardiacaVascular" class="formularioRegistro__label">Enfermedad Cardíaca o Vascular *</label>
                                                            <select class="form-control" name="EnfermedadCardiacaVascular" id="EnfermedadCardiacaVascular" aria-describedby="EnfermedadCardiacaVascularHelp" required>
                                                                <option value="">Seleccione una opción</option>
                                                                <option value="si">Sí</option>
                                                                <option value="no">No</option>
                                                            </select>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Seleccione una opción válida</p>
                                                        <div><small id="EnfermedadCardiacaVascularHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Antecedentes Familiares -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__AntecedentesFamiliares">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="AntecedentesFamiliares" class="formularioRegistro__label">Antecedentes Familiares *</label>
                                                            <select class="form-control" name="AntecedentesFamiliares" id="AntecedentesFamiliares" aria-describedby="AntecedentesFamiliaresHelp" required>
                                                                <option value="">Seleccione una opción</option>
                                                                <option value="si">Sí</option>
                                                                <option value="no">No</option>
                                                            </select>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Seleccione una opción válida</p>
                                                        <div><small id="AntecedentesFamiliaresHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Tipo de Afiliación -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__TipoAfiliacion">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="TipoAfiliacion" class="formularioRegistro__label">Tipo de Afiliación *</label>
                                                            <select class="form-control" name="TipoAfiliacion" id="TipoAfiliacion" aria-describedby="TipoAfiliacionHelp" required>
                                                                <option value="">Seleccione un Tipo</option>
                                                                <option value="contributivo">Contributivo</option>
                                                                <option value="subsidiado">Subsidiado</option>
                                                                <option value="otro">Otro</option>
                                                            </select>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Seleccione un tipo de afiliación válido</p>
                                                        <div><small id="TipoAfiliacionHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Peso -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__Peso">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="Peso" class="formularioRegistro__label">Peso (kg) *</label>
                                                            <input type="number" class="form-control" name="Peso" id="Peso" aria-describedby="PesoHelp" placeholder="Ingrese su peso en kg" required/>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Ingrese un peso válido</p>
                                                        <div><small id="PesoHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- Altura -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__Altura">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="Altura" class="formularioRegistro__label">Altura (m) *</label>
                                                            <input type="number" class="form-control" name="Altura" id="Altura" aria-describedby="AlturaHelp" placeholder="Ingrese su altura en metros" step="0.01" required/>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Ingrese una altura válida</p>
                                                        <div><small id="AlturaHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                                <!-- IMC -->
                                                <div class="col-lg-6">
                                                    <div class="form-group formularioRegistro__grupo" id="grupo__IMC">
                                                        <div class="formularioRegistro__grupo-input">
                                                            <label for="IMC" class="formularioRegistro__label">IMC *</label>
                                                            <input type="number" class="form-control" name="IMC" id="IMC" aria-describedby="IMCHelp" placeholder="Ingrese IMC" readonly required/>
                                                            <i class="formularioRegistro__validacion-estado fas fa-times-circle"></i>
                                                        </div>
                                                        <p class="formularioRegistro__input-error">Ingrese un IMC válido</p>
                                                        <div><small id="IMCHelp" class="form-text text-muted"><br></small></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <button type="button" class="btn btn-primary next action-button float-end" id="btnRegistrar" onclick="registrar()">Registrar</button>
                                <a href="../beneficiarios"><button type="button" name="Cancelar" class="btn btn-dark previous action-button-previous float-end me-1" value="Previous">Cancelar</button></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin contenido -->

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> footer}}
    </footer>
    <!-- Footer Section End -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/funcionesBeneficiario.js"></script>
    <script src="../assets/js/FormBeneficiario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
